@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
*{
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	display: grid;
	grid-template-columns: 4fr 6fr;
	gap: 20px;
}
#root,html,body{
	height: 100%;
	width: 100%;
	background-color: #ff8080;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container>join{
	display: flex;
	width: 100%;
	background-color: #fff;
	
}
.left_panel{
	width: 100%;
	height: 100%;
	color: #ccc;
}
.left_panel > img{
	width: 100%;
	height: 100%;
}
.right_panel{
	display:flex;
	justify-content:center;
	align-items:center;
	width: 100%;
	height: 100%;
}
.right_panel_main{
	color: #999;
	width: 400px;
	height: 300px;
}
.right_panel_main input{
	width: 100%;
	height: 30x;
	font-size: 25px;
}
.right_panel_main input[type='submit']{
	width: 100%;
	height: 35x;
	font-size: 25px;
	background-color: #ff8080;
	color: white;
	cursor: pointer;
}
.right_panel_main > div{
	margin: 20px 0;
}/* 
.join input[type='submit']{
	width: 100%;
	height: 35x;
	font-size: 25px;
	background-color: #ff8080;
	color: white;
	cursor: pointer;
}
.join > div{
	margin: 20px 0;
} */




